version: '3'
services:
  app:
    build: .
    container_name: apparquigrafia
    ports:
      - "8009:8000"
    volumes:
      - ./app:/app/app/
      - ./bootstrap:/app/data
      - ./javascript:/app/javascript
      - ./public:/app/public
    #   - .:/app
    environment:
      - DB_HOST=db
    # env_file: .env.local.php
    working_dir: /app
    # --package=cmgmyr/messenger
    command: bash -c 'php artisan serve --host 0.0.0.0'
    # command: bash -c "sleep 15 && php artisan migrate --package=cmgmyr/messenger && php artisan serve --host=0.0.0.0 --port=8181"
    depends_on:
      - db
    links:
      - db
  db:
    container_name: dbarquigrafial
    image: "mysql:5.7"
    environment:
      MYSQL_DATABASE: arquigrafia
      MYSQL_USER: root
      MYSQL_PASSWORD: ''
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    command: --init-file /app/script/init.sql
    volumes:
      - ./script:/app/script/
      - ./sql:/app/sql
      # - ./data/:/var/lib/mysql
    ports:
      - "3307:3306"
  phpmyadmin:
    container_name: phpmyadmin
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 8090:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ''