/* colors */
$black: #000000;
$grey: #a0a0a0;
$blue: #231ebe;

/* bootstrap */
$box-shadow-sm: 0 .125rem .250rem rgba($black, .075);
$box-shadow: 0 .250rem 0.350rem rgba($black, .125);
$box-shadow-lg: 0 0.500rem 1.000rem rgba($black, .150);
